@import url(master.css);

.right-side, .left-side {
    margin: 50px 20px;
}

.right-side a {
    background-color: var(--color-green);
    border-radius: 20px;
    padding: 5px 70px;
    font-weight: 700;
}

.headline {
}