@import url(master.css);

.split-2 {
    display: flex;
    margin-bottom: 130px;
}

.right-side, .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 20px;
}

.right-side a {
    background-color: var(--color-green);
    border-radius: 20px;
    padding: 5px 70px;
    font-weight: 700;
}

.split-3 {
    margin: 50px 0px;
}

.split-3 > div {
    width: 33%;
    padding: 20px;
    margin: 0px 2px;
}

.split-3 > div a img {
    height: 50px;
}

.center-items {
    display: flex;
    justify-content: center;
    justify-items: center;
}