:root {
    --color-green:#26a269;
    --color-gray:#241f31;
    --color-gray-light:#3d3846;
    --color-font:#ffffff;
    --color-font-invers:#000000;
}

body {
    background-color: var(--color-gray);
    color: var(--color-font);
    font-family: "IBM Plex Sans Arabic";
    font-size: 20px;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar, .footer{
    margin: 20px 60px;
    padding: 20px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar a, .footer a{
    padding: 5px !important;
    margin: 4px 8px !important;
}

.navbar a {
    font-weight: 700;
}

.main {
    margin: 5px 300px ;
}

.footer {
    margin-top: 100px;
    margin: 100px 0px 0px 0px;
    background-color: var(--color-font);
}

.footer-left .footer-right{
    padding: 1%;
}

.footer-right a{
    color: var(--color-font-invers) !important;
}

.text-in-a a{
    text-decoration: none;
    color: var(--color-font);
    padding: 0px 0px;
    border-bottom: 1px solid transparent;
}

.text-hover a:hover {
    border-bottom: 1px solid var(--color-font);
}

.logo-50px {
    height: 50px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 33%) ;
}

.grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
}

.space-top-bottom {
    margin: 70px 0px;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}