:root {
    --color-green:#26a269;
    --color-gray:#241f31;
    --color-gray-light:#3d3846;
    --color-font:#ffffff;
}

body {
    background-color: var(--color-gray);
    color: var(--color-font);
    font-family: "IBM Plex Sans Arabic";
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
.navbar {
    margin: 20px 60px;
    padding: 20px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar a{
    font-weight: 700;
}

.main {
    margin: 5px 400px ;
}

.text-in-a a{
    text-decoration: none;
    color: var(--color-font);
    padding: 4px 6px;
    border-bottom: 1px solid transparent;
}

.text-hover a:hover {
    border-bottom: 1px solid var(--color-font);
}