@import url(master.css);

.table-of-content {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-font);
    padding: 10px;
}

.no-bullet-points {
    list-style-type:none;
}

.table-of-content ul li {
    margin: 8px 0px;
}

.text {
    margin: 5px 0px;
}

.code {
    margin: 20px 0px;
    border: 1px solid var(--color-font);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--color-gray-light);
}

.left-margin {
    margin-left: 30px;
}

.table-of-content {
    align-items: flex-start;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}